<p id="notice"><%= notice %></p>
<header>
<h1>LETSMASH</h1>
</header>

<div class="panel">
<%= image_tag @picture_one.url %>
<%=image_tag @picture_two.url %>
<% @picture_one.url %>
<% @picture_two.url %>
</div>
<%#= image_tag @pictures.find().url %>
<footer>
<%= link_to 'Results', new_picture_path %>
</footer>
